body {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Manrope", sans-serif;

  font-weight: 800;
  font-size: 20px;
  line-height: 77%;
  text-transform: uppercase;
  color: var(--color-text);

  background-color: var(--color-bg);

  background-image:
    repeating-linear-gradient(
      120deg,
      var(--pattern-primary),
      var(--pattern-primary) 1px,
      transparent 1px,
      transparent 60px
    ),
    repeating-linear-gradient(
      60deg,
      var(--pattern-primary),
      var(--pattern-primary) 1px,
      transparent 1px,
      transparent 60px
    ),
    linear-gradient(
      60deg,
      var(--pattern-light) 25%,
      transparent 25%,
      transparent 75%,
      var(--pattern-light) 75%
    ),
    linear-gradient(
      120deg,
      var(--pattern-light) 25%,
      transparent 25%,
      transparent 75%,
      var(--pattern-light) 75%
    );

  background-size: 70px 120px;
}
