.answer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-items: center;

  height: 50%;

  text-align: center;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;

  border-top: 2px solid var(--color-primary);
}

.answer.show {
  opacity: 1;
  transform: translateY(0);
}
