.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  font-weight: 700;
}

.hint-p {
  margin: 0;
  font-size: 24px;
  color: var(--color-primary);
}
